<div class=bookListing>
<ul>
	<li>Title: <%= @audiobook.title %></li>
	<li>Author: <%= @audiobook.author %></li>
	<li>Category: <%= @audiobook.category %></li>
	<li>Narrator: <%= @audiobook.narrator.name %></li>
</ul>
</div>
