<h2> What does your ideal storyteller sound like? </h2>
<h3> Search for audiobooks based on narrator characteristcs </h3>

<div class="searchFormBox">
	<form>
	  Pick your narrator preferences:<br>
	  Gender:
	  <input type="radio" name="gender" id="male">Male
	  <input type="radio" name="gender" id="female">Female<br>
	  Accent:
	  <input type="radio" name="Accent" id="American">American
	  <input type="radio" name="Accent" id="British">British
	  <input type="radio" name="Accent" id="Australian">Australian<br>
	  Performs different voices:
	  <input type="radio" name="Voices" id="Yes">Yes
	  <input type="radio" name="Voices" id="No">No<br>
	  <input type="submit" value="Search">
	</form>
</div>

<script>
function check() {
    document.getElementById("gender").checked = true;
}
function uncheck() {
    document.getElementById("gender").checked = false;
}
</script>
