/*
 *= require_tree .
 *= require_self
 */
.logo {
	text-align: center;
	margin: 20px;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-decoration: none;
}

h1 {
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
}

h2 {
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
}

h3 {
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-align: center;
}

.searchFormBox {
	padding: 20px;
	border-style: dashed;
	border-width: 2px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

form {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

form input[type=submit] {
	background-color: #f7941e;
  	-webkit-border-radius: 15;
  	-moz-border-radius: 15;
  	border-radius: 15px;
  	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
  	text-decoration: none;
  	margin-right: auto;
  	margin-left: auto;
}

form input[type=submit]:hover {
  background: #f1592a;
  text-decoration: none;
}
